*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html,
body {
  height: 100%;
  margin: unset;
  padding: unset;
  font-family: Nunito;
}
header{
    background-color: #0F0E17;
   
}

.icons{
    text-align: right;
    
   }


.testimonios{
    text-align: center;
    color:white;
  }
  .abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .form {
    width: 450px;
  }
#arrow-d
{  font-size: 56px;
  font-weight: normal;
  color:#ff8906;
  margin-top:-130px;
  position: absolute;
}

.navmenu li a{
  color:white;
  text-decoration: none;
}
.navmenu li a:hover{
 

  border-bottom: 2px solid #f25f4c;
  padding-bottom: 2px;
  color: #f25f4c;
}

.card-ama {
  background-color:#0F0E17; 
  color: white; 
  position: absolute;  
 

  margin-left: 650px;
  margin-top: -300px;
  
}
.card-niko {
  background-color:#0F0E17; 
  color: white; 
  position: absolute;  
 

  
  
}
.card-prin {
  background-color:#0F0E17; 
  color: white; 
  position: absolute;  
 margin-top:-150px;
 
  
  
}
footer {
  background-color: #000000;
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
}

#container-footer
 {
  display: flex;
  justify-content: space-between;
  padding: 40px 72px;
}

.footer-r {
  align-self: center;
}
.footer-r a {
  font-size: 20px;
  color: var(--white);
  text-decoration: none;
  margin: 0px 10px;
}
.footer-r a:hover {
  color: var(--button-background);
}
  @media screen and (max-width: 800px) {
   
      
      .button {
          flex-direction:row;
          flex:0;
      }
  .button-f{
      display: flex;
      width: 300px;
      margin-left: 50px;
      justify-content: center;
  }
  .form1{
      
  display: grid;
  align-items: left;
  margin-right: 400px;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));

  }
footer{
  display: flex;
  flex-direction: row;
  
  justify-content: space-between;
  
}
.icons{
 text-align: right;

}
  }
  @media only screen  and (max-width:600px){
    #profile{
     display: flex;
     justify-content: center;
     width: 200px;
        } 
        
}